*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --fs-base: 16px;
  --fs-h1-header: 70px;
  --fs-h1-big: 60px;
  --fs-h1-sub: 53px;
  --fs-h2-header: 55px;
  --fs-h3-header: 34px;
  --fs-h3-header-small: 30px;
  --fs-p-header-big: 22px;
  --fs-p-header: 20px;
  --fs-p-small: 14px;

  --fw-semibold: 700;

  --ff-poppins-semibold: "Poppins SemiBold";
  --ff-poppins-italic: "Poppins Italic";
  --ff-rubik: "Rubik";

  --clr-200: #f3f5f5;
  --clr-primary: #bb5855;
  --clr-secondary: #245357;
  --clr-primary-alpha: #bb585550;
  --clr-secondary-alpha: #24535750;

  --clr-font: #313131;

  --clr-font-inverted: #fff;

  --dashboard-color: var(--clr-primary);
  --white-color: var(--clr-font-inverted);
  --placeholder-color: #31313190;
  --primary-color: var(--clr-secondary);
}
@font-face {
  font-family: "Poppins SemiBold";
  src: local("Poppins SemiBold"),
    url("./assets/fonts/poppins/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: "Poppins Italic";
  src: local("Poppins Itelic"), url("./assets/fonts/poppins/Poppins-Italic.ttf");
}
@font-face {
  font-family: "Rubik";
  src: local("Rubik"), url("./assets/fonts/rubik/Rubik-VariableFont_wght.ttf");
}
.ff-poppinSB {
  font-family: "Poppins SemiBold";
}
.ff-poppinI {
  font-family: "Poppins Italic";
}
.ff-rubik {
  font-family: "Rubik";
}

.btn__bordered {
  border: 2px solid var(--clr-secondary);
  padding: 0.5rem 1rem;
  background-color: transparent;
  text-decoration: none;
  border-radius: 8px;
  text-transform: capitalize !important;
}
.btn__solid {
  border: 2px solid;
  padding: 0.5rem 1rem;
  color: var(--clr-font-inverted) !important;
  text-decoration: none;
  border-radius: 8px;
  text-transform: capitalize !important;
}
.bg__secondary {
  background-color: var(--clr-secondary) !important;
  border-color: var(--clr-secondary) !important;
}
.bg__primary {
  background-color: var(--clr-primary) !important ;
  border-color: var(--clr-primary) !important;
}
body {
  font-family: "Rubik" !important;
  font-weight: 400 !important;
  font-size: var(--fs-base);
  color: var(--clr-font);
}
a {
  color: var(--clr-font) !important;
}
@media (max-width: 1440px) {
  :root {
    --fs-base: 14px; /*--fs-base: 14px; */
    --fs-h1-header: 60px; /*--fs-h1-header: 70px; */
    --fs-h1-big: 52px; /*--fs-h1-big: 60px; */
    --fs-h1-sub: 38px; /*--fs-h1-sub: 46px; */
    --fs-h2-header: 42px; /*--fs-h2-header: 55px; */
    --fs-h3-header: 26px; /*--fs-h3-header: 34px; */
    --fs-h3-header-small: 22px; /*--fs-h3-header-small: 30px; */
    --fs-p-header-big: 18px; /*--fs-p-header-big: 22px; */
    --fs-p-header: 16px; /*--fs-p-header: 20px; */
    --fs-p-small: 12px; /*--fs-p-small: 14px; */
  }
}
@media (max-width: 1024px) {
  :root {
    --fs-h1-header: 60px;
    --fs-h1-big: 52px;
    --fs-h1-sub: 38px;
    --fs-h2-header: 28px;
    --fs-h3-header: 24px;
  }
}

.userNameStyles {
  color: var(--clr-secondary);
  font-family: var(--ff-poppins-semibold) !important;
  text-transform: capitalize;
  font-size: var(--fs-p-header);
}

.t-t-c {
  text-transform: capitalize;
}

.c-p {
  cursor: pointer;
}
