.__content {
  margin-block-start: 1rem;
}

.__content thead tr,
.__content tbody tr {
  position: relative;
}
.__content thead tr th {
  color: var(--clr-font-inverted);
}
.__content thead tr th,
.__content tbody tr td {
  vertical-align: middle;
  text-align: center;
  padding-block: 2rem;
  white-space: nowrap;
}
.__content thead tr th:first-child:before {
  content: "";
  position: absolute;
  z-index: -1;
  background-color: var(--clr-primary);
  width: 100%;
  height: calc(100% - 1rem);
  inset: 0;
  margin-block: auto;
  border-radius: 1rem;
}
.__content tbody tr td:first-child:before {
  content: "";
  position: absolute;
  z-index: -1;
  background-color: var(--clr-font-inverted);
  width: 100%;
  height: calc(100% - 1rem);
  inset: 0;
  margin-block: auto;
  border-radius: 1rem;
  box-shadow: 0 0 20px #00000030;
}

.paginationDiv {
  display: flex;
  justify-content: flex-end;
  padding: 20px 30px 20px 30px;
}


.userCard__button__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.userCard__button {
  background-color: var(--clr-primary) !important;
  color: var(--clr-font-inverted);
  font-family: var(--ff-poppins-semibold);
  height: 45px;
  width: 120px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.userCard__button__bordered {
  background-color: transparent !important;
  color: var(--clr-primary);
  border: 1px solid var(--clr-primary) !important;
}

.image__wrapper {
  height: 60px;
  width: 60px;
  border-radius: 100%;
}
