.content__wrapper {
  display: grid;
  grid-template-columns: 340px calc(100% - 340px);
  min-height: 100vh;
  transition: 300ms grid-template-columns ease-in;
}

.sidebar__collapsed {
  grid-template-columns: 55px calc(100% - 55px);
}

.sidebar {
  position: relative;
}

.sidebar::before {
  content: "";
  background-color: var(--clr-secondary);
  top: 0;
  width: 100%;
  height: 64px;
  position: absolute;
}

.header {
  background-color: var(--clr-secondary);
  padding: 1rem;
  display: flex;
  justify-content: end;
  padding-inline: 4rem;
}

.children {
  height: calc(100vh - 84px);
  overflow-y: auto;

}


@media screen and (max-width:575px) {
  .header {
    padding-inline: 1rem;
  }

}