.typeList {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 10px;
  padding: 15px;
  border: 1px solid #d8d4d4;
  margin-inline: 10px;
  box-shadow: 0px 0px 5px 0px #d8d4d4ab;
}
.active {
  border: 1px solid #bb5855ab;
  box-shadow: 0px 0px 5px 0px #bb5855ab;
}
.radioIcon {
  margin-right: 10px;
}
.typeImg {
  width: 80px;
  height: 40px;
  object-fit: contain;
}
