.content__wrapper {
  padding-block: 2rem;
  padding-inline: 3rem;
  min-height: calc(100vh - 160px);

}

.__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.headerRight {
  display: flex;
  align-items: center;
  justify-content: end;
  flex-wrap: wrap;
  gap: 10px;
}



.labelAndValue {}

.labelAndValue label {
  font-size: 20px;
  margin-right: 10px;
  font-weight: 500;
}

.btnDiv {
  display: flex;
  justify-content: center;
}

.rowGap {
  row-gap: 20px;
}

.__header h1 {
  font-size: var(--fs-p-header-big) !important;
}

.__content {
  margin-block-start: 1rem;
  box-shadow: 0 0 10px #00000030;
  padding: 2rem;
  margin: 3rem 0;
  border-radius: 1rem;
  height: 100%;
}

.__content button {
  background-color: transparent;
  border: none;
}

.__content thead tr,
.__content tbody tr {
  position: relative;
}

.__content thead tr th {
  color: var(--clr-font-inverted);
}

.__content thead tr th,
.__content tbody tr td {
  vertical-align: middle;
  text-align: center;
  padding-block: 2rem;
}

.__content thead tr th:first-child:before {
  content: "";
  position: absolute;
  z-index: -1;
  background-color: var(--clr-primary);
  width: 100%;
  height: calc(100% - 1rem);
  inset: 0;
  margin-block: auto;
  border-radius: 1rem;
}

.__content tbody tr td:first-child:before {
  content: "";
  position: absolute;
  z-index: -1;
  background-color: var(--clr-font-inverted);
  width: 100%;
  height: calc(100% - 1rem);
  inset: 0;
  margin-block: auto;
  border-radius: 1rem;
  box-shadow: 0 0 20px #00000030;
}

.paginationDiv {
  display: flex;
  justify-content: flex-end;
  padding: 20px 30px 20px 30px;
}

@media only screen and (max-width: 1120px) {
  .headerRight {
    width: 100%;
  }
}

@media screen and (max-width:500px) {
  .content__wrapper {
    padding-block: 2rem;
    padding-inline: 1.5rem;
  }

  .labelAndValue label {
    font-size: 18px;
    margin-right: 10px;
  }

}

@media screen and (max-width:425px) {

  .labelAndValue {
    display: flex;
    flex-direction: column;
  }

  .labelAndValue label {
    font-size: 17px;
    margin-right: 0px;
  }

  .__content {
    padding: 1rem;
  }
}