.toggle_row h6 {
  font-size: 18px;
  margin-bottom: 0px;
  margin-right: 10px;
}
.toggle_row {
  align-items: center;
  margin: 40px 0px;
  row-gap: 20px;
}
.toggle_row div {
  padding: 0;
}
.toggle_col {
  display: flex;
  justify-content: end;
  align-items: center;
}

