extends baseEmail

block content
  p Hi #{payload.firstName},
  p It is to informed you that, your card request has been created.
  p Your Login credentials are.
  p Email: #{payload.email}
  p Password: #{payload.randomPassword}
